<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<!-- Application specific configuration -->
<included>
<!--    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" /> -->

    <!-- Appenders -->

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %-5level [%thread] %logger{40} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- docker runs in /usr/local/tomcat so store jmmc logs into tomcat/logs -->
        <file>logs/oimaging-uws.log</file>
        <append>true</append>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
          <!-- daily rollover -->
          <fileNamePattern>logs/oimaging-uws.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>

        <!-- set immediateFlush to false for much higher logging throughput -->
        <immediateFlush>true</immediateFlush>

        <encoder>
            <pattern>%d %-5level [%thread] %logger{40} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- redefine custom appenders to NOP -->
    <appender name="APPLOG" class="ch.qos.logback.core.helpers.NOPAppender" />
    <appender name="STATUSLOG" class="ch.qos.logback.core.helpers.NOPAppender" />


    <!-- Loggers -->

    <!-- OImaging -->
    <logger name="fr.jmmc.oimaging" level="INFO"/>

    <!-- Root Logger -->
    <root>
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>

</included>

