<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<!-- Debug controls the Logback configuration logs -->
<configuration debug="false" scan="false" scanPeriod="30 seconds" >

    <!-- Reset java.util.logging configuration -->
    <!-- disabled: conflict with Tomcat -->
<!--
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>
-->

    <!-- Appenders -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %-5level [%thread] %logger{40} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- docker runs in /usr/local/tomcat so store jmmc logs into tomcat/logs -->
        <file>logs/oimaging-uws.log</file>
        <append>true</append>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
          <!-- daily rollover -->
          <fileNamePattern>logs/oimaging-uws.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>

        <!-- set immediateFlush to false for much higher logging throughput -->
        <immediateFlush>true</immediateFlush>

        <encoder>
            <pattern>%d %-5level [%thread] %logger{40} - %msg%n</pattern>
        </encoder>
    </appender>


    <!-- Loggers -->

    <!-- JMMC -->
    <logger name="fr.jmmc" level="INFO"/>

    <!-- OImaging -->
    <logger name="fr.jmmc.oimaging" level="INFO"/>


    <!-- Root Logger -->
    <!-- Note: level must be INFO in production to avoid performance issues with JUL -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>

</configuration>
