<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <session-config>
        <session-timeout>1</session-timeout>
    </session-config>

    <servlet>
        <servlet-name>OImaging</servlet-name>
        <servlet-class>fr.jmmc.oimaging.uws.OImagingUwsService</servlet-class>
        <load-on-startup>0</load-on-startup>
        <init-param>
            <param-name>maxRunningJobs</param-name>
            <param-value>MAX_RUNNING_JOBS_VALUE</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>OImaging</servlet-name>
        <url-pattern>/oimaging/*</url-pattern>
    </servlet-mapping>
</web-app>
